.badInput{
    color:red;
}

#lat-warn, #long-warn, #submit-warn{
    color:red;
    display:none;
}

#submit{
    display:none;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(35, 35, 35);
}

#form {
    background: #c3c2c2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #555;
}

input[type="number"] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

input[type="submit"]:disabled {
    background: #aaa;
    cursor: not-allowed;
}

#form p {
    font-size: 14px;
    color: #d9534f;
    margin: 5px 0;
    display: block;
    text-align: left;
}

#results {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    text-align: center;
    background: #b9b8b8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40vw;
    display:none;
    flex-direction: column;
}

#results h1, #results h2 {
    margin: 10px 0;
    color: #333;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

